<div class="container">
    <div class="col-sm-8 col-sm-offset-2 text-center">


    </div><!--/col-->
</div><!--/container-->
<ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>
<div class="row-fluid nlSubscription">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <form class="form-horizontal registerNewsletter">
                    <div class="col-md-6">
                        <input class="form-control" name="email" type="email" placeholder="S'inscrire a la newletter" >
                    </div>
                    <div class="col-md-2">
                        <input class="btn btn-primary form-control" type="submit" value="S'abonner" >
                    </div>
                </form>
            </div>
            <!--<div class="col-md-4 col-xs-12 text-right">
                <!--<ul class="list-inline center-block">
                    <li><a href="http://facebook.com/yaniv.afriat"><img src="/img/soc_fb.png" alt="FaceBook link"></a></li>
                    <li><a href="http://twitter.com/warezzzz"><img src="/img/soc_tw.png" alt="Twitter link"></a></li>
                    <li><a href="https://plus.google.com/u/0/+YanivAfriat"><img src="/img/soc_gplus.png" alt="google link"></a></li>
                    <!--<li><a href="http://pinterest.com/in1"><img src="/img/soc_pin.png"></a></li>-->
                <!--</ul>
            </div>-->
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <!--<ul class="nav nav-pills nav-stacked">
                <li {% if page is defined and page == 'nouveaute' %}class="active"{% endif %}><a href="{{path('categorie', {page: 'nouveaute'})}}">Nouveautées</a></li>
                <li {% if page is defined and page == 'ensembles' %}class="active"{% endif %}><a href="{{path('categorie', {page: 'ensembles'})}}">Ensembles</a></li>
                <li {% if page is defined and page == 'soutiens-gorge' %}class="active"{% endif %}><a href="{{path('categorie', {page: 'soutiens-gorge'})}}">Soutiens-gorge</a></li>
                <li {% if page is defined and page == 'culottes' %}class="active"{% endif %}><a href="{{path('categorie', {page: 'culottes'})}}">Culottes</a></li>
                <li {% if page is defined and page == 'nuisettes' %}class="active"{% endif %}><a href="{{path('categorie', {page: 'nuisettes'})}}">Nuisettes</a></li>
                <li {% if page is defined and page == 'robes' %}class="active"{% endif %}><a href="{{path('categorie', {page: 'robes'})}}">Robes</a></li>
                <li {% if page is defined and page == 'bodys' %}class="active"{% endif %}><a href="{{path('categorie', {page: 'bodys'})}}">Bodys</a></li>
                <li {% if page is defined and page == 'collants' %}class="active"{% endif %}><a href="{{path('categorie', {page: 'collants'})}}">Collants et bas</a></li>
            </ul>-->
            <div class="text-muted col-xs-12 col-md-6">Copyright reserved to TextileSexy {{"now"|date("Y")}}.</div>
            <div class="text-right col-xs-12 col-md-6">Webmaster Yaniv Afriat</div>
        </div>
    </div>
</footer>